<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Bracket Battle</title>
</head>

<body>
  {{{body}}}
  {{!-- will hard code HTML here --}}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img id="logo" src="" alt="Bracket Battle">
          </a>
         
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">View Brackets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Create a Bracket</a>
              </li>
    
            </ul>
          </div>
        </div>
      </nav>
</body>

</html>