<div class="text-center">
  <h1 class="display-4 text-center">
    404 Not Found
  </h1>
  <p class="mb-4">Sorry, we couldn't find that page.</p>
  <a href="/" class="text-dark">â† Go Back to the Homepage?</a>
</div>
