<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="data">
			{{brackets.dataValues.id}}
			{{brackets.dataValues.bracket_name}}
		    </div>
      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
{{!-- <script type="text/javascript" src="jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="jquery.bracket.min.js"></script>
<link rel="stylesheet" type="text/css" href="jquery.bracket.min.css" />
<script src="/js/create-bracket.js"></script> --}}
