  <h1 class="bracket-name">{{bracketName}}</h1>
	<!-- empty gracket element -->
	<div class="my_gracket mt-3" data-bracket-id="{{id}}"></div>

	<script type="text/javascript">
    var teamData = "";

    $.ajax({
      method: "GET",
      url: "/api/brackets/" + $(".my_gracket").data("bracket-id"),
    }).then(function (data) {

      teamData = data.teamNames[0];

      (function (win, doc, $) {

        // console.warn("Make sure the min-width of the .gracket_h3 element is set to width of the largest name/player. Gracket needs to build its canvas based on the width of the largest element. We do this my giving it a min width. I'd like to change that!");

        win.TestData = [
          [
            [{ "name": teamData[0][0].name }, { "name": teamData[0][1].name }],
            [{ "name": teamData[1][0].name }, { "name": teamData[1][1].name }],
            [{ "name": teamData[2][0].name }, { "name": teamData[2][1].name }],
            [{ "name": teamData[3][0].name }, { "name": teamData[3][1].name }],
            [{ "name": teamData[4][0].name }, { "name": teamData[4][1].name }],
            [{ "name": teamData[5][0].name }, { "name": teamData[5][1].name }],
            [{ "name": teamData[6][0].name }, { "name": teamData[6][1].name }],
            [{ "name": teamData[7][0].name }, { "name": teamData[7][1].name }]
          ],
          [
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }]
          ],
          [
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }]
          ],
          [
            [{ "name": "" }, { "name": "" }],
          ],
          [
            [{ "name": "" }],
          ]
        ];

        // initializer
        $(".my_gracket").gracket({ src: win.TestData });

      })(window, document, jQuery);
    })
	</script>
	<script type="text/javascript" src="../public/js/bracket-generator.js"></script>