<h1 class="text-center">Create a Bracket</h1>
<div class="text-center text-danger font-weight-bold mb-2 createBracket-error" style="display: none;">
  Please make sure you have entered 16 teams.
</div>

<form>
  <div class="form-group">
    <label for="bracket-name" id="bracketText">Bracket Name</label>
    <input type="text" class="form-control" id="bracket-name" placeholder="Enter Bracket Name">
  </div>
  
  <div class="form-group">
    <label for="teams" id="teamsText">Teams</label>
    <textarea class="form-control" id="teams" rows="3" placeholder="[Separate teams using a comma. Input 16 teams.]"></textarea>
  </div>

  <div class="text-center">
    <button type="submit" id="createBracket" class="btn btn-danger">Submit</button>
  </div>
</form>



<script>
  $("#createBracket").on("click", function(event) {
    event.preventDefault();

    var name = $("#bracket-name").val().trim();
    var teams = $("#teams").val().trim();
    console.log(teams);
    // separate teams into an array
    var teamsArray = teams.split(",");

    console.log(teamsArray.length);

    // check there are 16 teams entered
    if (teamsArray.length === 16) {
      // trim each item in array to remove spaces
      var teamsArray = teamsArray.map(function (team) {
        return team.trim();
      });

      var shuffledArray = [];

      // shuffle array of teams
      while (shuffledArray.length < teamsArray.length) {
        // get random index from array
        var index = Math.floor(Math.random() * teamsArray.length);
        // if not already in new array, push it
        if (shuffledArray.indexOf(teamsArray[index]) === -1) {
          shuffledArray.push(teamsArray[index]);
        }

      }
      console.log("shuffledArray");
      console.log(shuffledArray);

      // create object of new bracket
      var newBracket = {
        name: name,
        teamNames: JSON.stringify([
          [
            [{ "name": shuffledArray[0] }, { "name": shuffledArray[1] }],
            [{ "name": shuffledArray[2] }, { "name": shuffledArray[3] }],
            [{ "name": shuffledArray[4] }, { "name": shuffledArray[5] }],
            [{ "name": shuffledArray[6] }, { "name": shuffledArray[7] }],
            [{ "name": shuffledArray[8] }, { "name": shuffledArray[9] }],
            [{ "name": shuffledArray[10] }, { "name": shuffledArray[11] }],
            [{ "name": shuffledArray[12] }, { "name": shuffledArray[13] }],
            [{ "name": shuffledArray[14] }, { "name": shuffledArray[15] }]
          ],
          [
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }]
          ],
          [
            [{ "name": "" }, { "name": "" }],
            [{ "name": "" }, { "name": "" }]
          ],
          [
            [{ "name": "" }, { "name": "" }],
          ],
          [
            [{ "name": "" }],
          ]
        ])
      };

      console.log(newBracket);

      // post bracket to db
      $.ajax({
        method: "POST",
        url: "/api/brackets",
        data: newBracket
      }).then(function (data) {
        //window.location.replace("/dashboard");
        console.log("bracket created");

        // redirect to the new bracket's page
        window.location.replace("/bracket/" + data);
      })
    } else {
      // error you need 16 teams
      $(".createBracket-error").css("display", "block");
    }

  });
</script>