{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/19cb2d60da.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> --}}
    <!-- navBar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#"> <i class="fas fa-home"></i>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Dashboard
            </a>
            <a class="navbar-item">
              Create Bracket
            </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Login / Sign up</strong>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- Form -->

    <div class="control">
    <h1>Name : </h1>
    <input class="input" type="text" placeholder="Name">
    </div>
    <h1>Teams:</h1> 
    <textarea class="textarea" placeholder="(Separate teams using a comma.)" rows="10"></textarea>


{{!-- </body>
</html> --}}