<h1 class="mt-5 text-center">Create a Bracket</h1>

<form>
  <div class="form-group">
    <label for="bracket-name">Bracket Name</label>
    <input type="text" class="form-control" id="bracket-name" placeholder="Enter Bracket Name">
  </div>
  
  <div class="form-group">
    <label for="teams">Teams</label>
    <textarea class="form-control" id="teams" rows="3" placeholder="[Separate teams using a comma]"></textarea>
  </div>

  <div class="text-center">
    <button type="submit" id="createBracket" class="btn btn-primary">Submit</button>
  </div>
</form>



<script>
  $("#createBracket").on("click", function(event) {
    event.preventDefault();

    var name = $("#bracket-name").val().trim();
    var teams = $("#teams").val().trim();
    // separate teams into an array
    var teamsArray = teams.split(",");

    // id of user that's logged in
    var userId = {{userId}};

    // create object of new bracket
    var newBracket = {
      bracket_name: name,
      teamNames: [
        ["Team 1", "Team 2"],
        ["Team 3", null],
        ["Team 4", null],
        ["Team 5", null]
      ],
      results: [
        [[1, 0], [null, null], [null, null], [null, null]],
        [[null, null], [1, 4]],
        [[null, null], [null, null]]
      ],
      UserId: userId
    };

  })
</script>